.Board {
    background-image: url(../brand/cork-background.jpg);
    width: 100vw;
    height: 100vh;
}
.Pictures {
    background-image: url(../brand/cork-background.jpg);
}
img {
    margin: 5px;
}
