.Board {
    background-image: url(../brand/cork-background.jpg) rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    background-blend-mode: multiply;
}
.Pictures {
    background-image: url(../brand/cork-background.jpg);
}
.ImageShadow {
    margin: 5px;
    border-radius: 5px;
    
}
