.BrandLogo {
    height: 10vh;
}
.WidgetButton {
    background-color: #A2A0FF;
    color: #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.WidgetButton:hover {
    transform: scale(0.8);
    background-color: #A2A0FF !important;
    color: white !important;
}

.UploadButton {
    background-color: #000000;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 0.6em 0.8em 0.8em 0.8em;
    border: 0;
}

.UploadButton:hover {
    transform: scale(0.8);
    background-color: #000000 !important;
    color: white !important;
}

.navbar-light .navbar-toggler {
    border: 0;
}

.navbar-light .navbar-toggler-icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    background-image: url(https: //www.iconsdb.com/icons/download/black/search-13-24.png);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-light .navbar-toggler-icon:before {
    content: "\f07b";
}

.navbar-light .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
    content: "\f07c";
}