.BrandLogo {
    height: 10vh;
}
.WidgetButton {
    background-color: #A2A0FF;
    color: #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.WidgetButton:hover {
    transform: scale(0.8);
    background-color: #A2A0FF !important;
}

.UploadButton {
    background-color: #000000;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.UploadButton:hover {
    transform: scale(0.8);
    background-color: #000000 !important;
}